

    <div class="user-dashboard">
        <button type="button" class="btn-success btn-md">Dashboard</button>
        <button type="button" class="btn-success btn-md">Projects</button>
        <br>
        <h1>Dashboard</h1>
        <h3>Affiliated Projects</h3>
        <div class="row">
            <toaster-container toaster-options="{'animation-class': 'toast-center'}"></toaster-container>
            <div class="col-md-4 col-md-offset-1" ng-controller="">
                eeeeeee
            </div>
            <div class="col-md-4 col-md-offset-1" ng-controller="issuesController">
                <div ui-grid="gridOptions" class="grid" ng-click="selectGridRow()"></div>
                <p>Current page:
                    <input type="number" min="1" max="{{ pagination.getTotalPages() }}" ng-model="pagination.pageNumber" ng-change="load()">of {{ pagination.getTotalPages() }}
                </p>
                <button type="button" class="btn btn-success" ng-click="pagination.previousPage()">previous page</button>
                <button type="button" class="btn btn-success" ng-click="pagination.nextPage()">next page</button>
            </div>
        </div>
</div>
