<div class="user-dashboard">
    <a class="btn btn-md btn-success common" href="#/projects/{{projectId}}">Go Back To Project</a>
    <a class="btn btn-md btn-success common" href="#/">Dashboard</a>
    <a class="btn btn-md btn-success common" href="#/projects" ng-if="isAdmin">Projects</a>
    <br>
    <h3>Issue page</h3>
    <br />
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-md-offset-1">
            <h2>
                {{issue.IssueKey}}
                <a ng-if="isAdmin || isLead" class="btn btn-md btn-success" href="#/issues/{{issue.Id}}/edit">Edit</a>
            </h2>
            <p><span class="item-atr">Title </span>{{issue.Title}}</p>
            <p><span class="item-atr">Description </span>{{issue.Description}}</p>
            <p><span class="item-atr">Assignee </span>(current id: {{issue.Assignee.Id}}) {{issue.Assignee.Username}}</p>
            <p><span class="item-atr">Priority </span>(current id: {{issue.Priority.Id}}) {{issue.Priority.Name}}</p>
            <p><span class="item-atr">DueDate </span>{{issue.DueDate}}</p>
            <p><span class="item-atr">Author </span>{{issue.Author.Username}}</p>
            <p><span class="item-atr">Project </span>{{issue.Project.Name}}</p>
            <p><span class="item-atr">Status </span>{{issue.Status.Name}}</p>
            <p><span class="item-atr">Labels </span>{{issue.Labels}}</p>

            <hr>
            <div class="comments-box">
                <div>
                    <div ng-if="issue.Comments" ng-repeat="comment in issue.Comments">
                        <h6>{{comment.Author.Username}} - {{comment.CreatedOn}}</h6>
                        <p>{{comment.Text}}</p>
                        <hr />
                    </div>
                </div>
                <hr>
                <div class="form-group" ng-if="isLead || isAssignee">
                    <label for="issueCommentInput" class="item-atr">Text: </label>
                    <textarea id="issueCommentInput" class="form-control" placeholder="Your comment..." ng-model="comment.Text"></textarea>
                    <button type="submit" class="btn btn-success comment" ng-click="addComment(comment)">Add Comment</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1" ng-if="isAdmin || isLead || isAssignee">
            <h3>Available statuses:</h3>
            <ul ng-repeat="status in availableStatuses">
                <li>
                    <span>{{status.Name}}  </span><button ng-click="changeIssueStatus(issue.Id, status.Id)" class="btn btn-sm btn-success">Change</button>
                </li>
            </ul>
        </div>
    </div>

</div>
