<nav class="navbar navbar-default navbar-static-top" ng-controller="HomeController">
    <div class="container-fluid" ng-if="!userLogged">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Issue Tracking System</a>
        </div>
    </div>
    <div class="container-fluid" ng-if="userLogged">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Issue Tracking System</a>
        </div>

        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <div class="user-nav" ng-controller="DropDownController">
                        <!-- Simple dropdown -->
                        <span uib-dropdown on-toggle="toggled(open)">
                          <a href id="simple-dropdown" uib-dropdown-toggle>
                              Profile
                          </a>
                          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                              <li><a href="#/profile">Edit profile</a></li>
                              <li><a href="/profile/password">Change password</a></li>
                          </ul>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="user-nav" ng-controller="LogoutController">
                        <a href="#/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>