<div class="user-dashboard" ng-controller="HomeController">
    <a class="btn btn-md btn-success common" href="#/projects/add" ng-if="isAdmin">Add Project</a>
    <a class="btn btn-md btn-success common" href="#/projects" ng-if="isAdmin">Projects</a>
    <br>
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
            <h3>Affiliated Projects</h3>
            <a href="#/projects/{{project.Id}}" class="row" ng-repeat="project in userProjects">{{project.Name}}</a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-md-offset-1">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Issue</th>
                    <th>Description</th>
                    <th>Project</th>
                    <th>Due Date</th>
                </tr>
                </thead>
                <tbody>
                <tr class ng-repeat="issue in userIssues">
                    <td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                    <td>{{issue.Description}}</td>
                    <td><a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
                    <td>{{issue.DueDate}}</td>
                </tr>
                </tbody>
            </table>
            <uib-pagination boundary-links="true" total-items="totalIssues" ng-model="currentPage" class="pagination-sm" ng-change="attachUserAssignedIssues()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </uib-pagination>
        </div>
    </div>

</div>

