<div>
    <div class="user-dashboard">
        <a class="btn btn-md btn-success common" href="#/">Dashboard</a>
        <a class="btn btn-md btn-success common" href="#/projects" ng-if="isAdmin">Projects</a>
        <br>
        <h3>New Project</h3>
        <form name="add-project-form" class="add-form">
            <div class="form-group">
                <label for="projectName">Name</label>
                <input type="text" class="form-control" id="projectName" placeholder="Project Name" ng-model="project.Name">
            </div>
            <div class="form-group">
                <label for="projectLeader">Leader</label>
                <select ng-model="project.Lead.Id" id="projectLeader" ng-options="user.Id as user.Name for user in users" class="form-control">
                    <option  value="">-- Select Project Leader --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="projectPriorities">Priorities (comma separated)</label>
                <input ng-model="project.Priorities" type="text" class="form-control" id="projectPriorities" placeholder="Priorities" value="Low, Medium, Urgent">
            </div>
            <div class="form-group">
                <label for="projectLabels">Labels (comma separated)</label>
                <input ng-model="project.Labels" type="text" class="form-control" id="projectLabels" placeholder="Labels" value="">
                <br>
            </div>
            <div class="form-group">
                <label for="projectDescription">Description</label>
                <textarea id="projectDescription" ng-model="project.Description" class="form-control" placeholder="Description"></textarea>
            </div>
            <button type="submit" class="btn btn-success" ng-disabled="!project.Name
                        ||!project.Description
                        ||!project.LeadId
                        ||add-project-form.$invalid"
                    ng-click="addProject(project)">Add Project</button>
        </form>
    </div>
</div>