<div>
    <div class="user-dashboard">
    <h3>Project page</h3>
    <br />
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                <h2 >
                    {{project.ProjectKey}}
                    <a ng-if="isAdmin || isLead" class="btn btn-md btn-success" href="#/projects/{{project.Id}}/edit">Edit</a>
                    <a ng-if="isAdmin || isLead" class="btn btn-md btn-success" href="#/projects/{{project.Id}}/add-issue">Add Issue</a>
                </h2>
                <p><span class="item-atr">Project key </span>{{project.ProjectKey}}</p>
                <p><span class="item-atr">Name </span>{{project.Name}}</p>
                <p><span class="item-atr">Description </span>{{project.Description}}</p>
                <p><span class="item-atr">LeadId </span>(current id: {{project.Lead.Id}}) {{project.Lead.Username}}</p>
                <p><span class="item-atr">Labels </span>{{project.Labels}}</p>
                <p><span class="item-atr">Priorities </span>{{project.Priorities}}</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-md-offset-1">

                <table class="table table-hover ">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description
                        <th>Due Date
                        <th>Assignee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="issue in projectIssues">
                        <td>
                            <a href="#/issues/{{issue.Id}}">{{issue.Title}}</a>
                        </td>
                        <td>{{issue.Description}}</td>
                        <td>{{issue.DueDate}}</td>
                        <td>{{issue.Assignee.Username}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
